.my-theme {

    $colorBody: #333;
    $colorPrimary: #263036;
    $colorSecondary: #1E1E1E;
    $colorBorderPrimary: #000;
    $colorAsideTitleName: #FFF4E9;
    $colorAsideTitleSurname: #8d6b94;
    $colorAsideBackground: #c3a29e;

    $borderMainWidth: 1px;
    $borderMainBottomWidth: 5px;
    $borderAsideBottomWidth: 6px;
    $spaceLeft: 40px;
    $paddingTopContacInfo: 35px;
    $paddingTopContactInfoLast: 11px;
    $paddingLeftContainer2: 420px;
    $paddingBottomTitleMain: 28px;
    $paddingBottomLanguagesInfo: 530px;
    $paddingBottomContact: 15px;
}