    $colorBody: #333;
    $colorPrimary: #263036;
    $colorSecondary: #1E1E1E;
    $colorBorderPrimary: #000;
    $colorAsideTitleName: #ffffff;
    $colorAsideTitleSurname: #1C2E8C;
    $colorAsideBackground: #86A3B4;

    $borderMainWidth: 1px;
    $borderMainBottomWidth: 5px;
    $borderAsideBottomWidth: 6px;
    $spaceLeft: 40px;
    $paddingTopContacInfo: 35px;
    $paddingTopContactInfoLast: 11px;
    $paddingLeftContainer2: 420px;
    $paddingBottomTitleMain: 28px;
    $paddingBottomLanguagesInfo: 630px;
    $paddingBottomContact: 15px;
