body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;

}

table {
    border: 1px solid;
}

.font-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

.align-left {
    text-align: left;
}
.uppercase {
    text-transform: uppercase;
}

a:link {
    color: #00f;
}

a:visited {
    color: #005;
}

a:hover {
    text-decoration: none;
}

.style-type-square {
    list-style-type: square;
}