@import 'my-theme';
@import 'theme';


@mixin animation ($speed: 2.5s) {
    animation-name: example;
    animation-duration: $speed;
}

$fontFamily: 'Inter', sans-serif;
$marginTop58: 58px;
$strongFont: 600;
$fontTitle: 40px;

body {
    color: $colorBody;
    font-family: $fontFamily;
    position: absolute;
}

h1 {
    margin: 0;
}

h3 {
    margin-top: 0;
}

p {
    margin: 0;
}

strong {
    font-weight: $strongFont;
}

aside {
    border-right: $borderMainWidth solid $colorBorderPrimary;
    background-color: $colorAsideBackground;
    box-shadow: 5px -4px 16px 3px #9d91a5;
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 0 58px;
    grid-template-areas: "sidebar main-content";
}

.sidebar {
    font-weight: $strongFont;
    grid-area: sidebar;
    position: relative;
    @include animation;
}

.main-content {
    grid-area: main-content;
    position: relative;
    @include animation ($speed: 3s);
    z-index: 1;
}

@keyframes example {
    0% {
        bottom: 0;
        opacity: 0%;
    }

    50% {
        top: 500px;
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 100%;
    }
}

.content {
    margin-top: $marginTop58;
}

.title {
    h1 {
        padding-left: $spaceLeft;
        font-size: $fontTitle;
    }
}

.color-name {
    color: $colorAsideTitleName;
    margin-top: $marginTop58;
}

.color-surname {
    color: $colorAsideTitleSurname;
    margin-bottom: 36px;
}

.my-photo {
    object-fit: cover;
    position: relative;
    width: 385px;
    height: 292px;
    transition: 2s ease-in-out;
    z-index: 100;

}


.photo_animation_active {
    transform: scale(1.5) translate(17%, 7%);
    box-shadow: 5px 7px 11px 1px #9d91a5;
    border-radius: 20px;
}

.contact {
    margin-left: $spaceLeft;
    padding-bottom: $paddingBottomContact;
    font-size: 32px;
    color: $colorPrimary;
    border-bottom: $borderAsideBottomWidth solid $colorSecondary;
    width: 289px;
}

.languages {
    margin-left: $spaceLeft;
    padding-bottom: $paddingBottomContact;
    font-size: 32px;
    color: $colorPrimary;
    border-bottom: $borderAsideBottomWidth solid $colorSecondary;
    width: 289px;
}

.contact {
    margin: 50px 0 -8px 40px;
}

.languages {
    margin: 36px 0 23px 40px;
}

.contact-info {
    list-style-type: none;

    >ul {
        list-style: none;
        padding-left: 0;

        &:last-child {
            padding-top: $paddingTopContactInfoLast;
            font-size: 16px;
            color: $colorPrimary;
        }
    }

    >li {
        padding-top: $paddingTopContacInfo;
        font-size: 24px;
        color: $colorPrimary;
    }
}

.link-color {
    color: #1C2E8C;
    text-decoration: none;
}

.languages-info {
    list-style-type: none;
    padding-bottom: $paddingBottomLanguagesInfo;
    font-size: 20px;
    color: $colorSecondary;
}

.title-main {
    margin-right: 100px;
    font-weight: $strongFont;
    font-size: 36px;
    color: $colorSecondary;
    border-bottom: $borderMainBottomWidth solid $colorBorderPrimary;
    padding-bottom: $paddingBottomTitleMain;
}

.about-main {
    font-weight: $strongFont;
}

.list-skills {
    font-weight: $strongFont;
    display: flex;
    flex-direction: row;
}

.list-skills-1 {
    width: 50%;
}

.style-type {
    list-style-type: disc;
}

.expirience_opacity {
    opacity: 70%;
    font-size: 14px;

    &:hover {
        opacity: 100%;
        animation-name: text-opacity;
        animation-duration: 1.5s;
    }
}

@keyframes text-opacity {
    0% {
        opacity: 70%;
    }

    50% {
        opacity: 80%;
    }

    100% {
        opacity: 100%;
    }
}


@media screen and (max-width:550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.5fr;
        grid-template-areas: "sidebar" "main-content";
    }

    .languages-info {
        padding-bottom: 0;
    }

    .content {
        margin: 30px;
    }

    .title-main {
        margin-right: 0;
    }

    aside {
        box-shadow: none;
    }

    .my-photo {
        &:hover {
            transform: none;
            box-shadow: none;
        }
    }
}