body {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

fieldset {
    width: 1024px;
    top: calc(50% - 207px);
    left: calc(50% - 512px);
    animation-name: fieldset-animation;
    animation-duration: 2s;

}

@keyframes fieldset-animation {
    0% {
        scale: 200%;
        opacity: 0;
    }

    100% {
        scale: 100%;
        opacity: 100%;
    }
}

textarea {
    
    min-height: 139px;
}

select {

    min-width: 460px;
    min-height: 48px;
    background: url('./vector/Vector_select.png') no-repeat center right .75rem;

}