:root {
     /* colors */
     --color-main-primary: #8DA1B9;
     --color-main-secondary: #95ADB6;
     --color-error-primary: #841019;
     --color-error-secondary: #20242A;
     --color-text: #333;
     --color-border-primary: #3E474A;

    /* sizes */
    --border-main-width: 1px;
    --space-main: 8px;
    --border-radius-medium: 4px;
    --border-radius-large: 8px;
  
    /* font */
    --font-size-xsmall: 8px;
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 20px;
    --font-size-xlarge: 24px;
  
    --font-family-base: Arial, Helvetica, sans-serif;
    --font-family-code: "Gill Sans", sans-serif;
  }
  
  .main-theme {
    /* colors */
    --color-main-primary: #8DA1B9;
    --color-main-secondary: #95ADB6;
    --color-error-primary: #841019;
    --color-error-secondary: #20242A;
    --color-text: #20242A;
    --color-border-primary: #3E474A;
  }
  





body {
    color: #333;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;

}
aside{
    border-right: 1px solid #000;
    position: fixed;
    top: 0;
}

main>div {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #263036;
}
 p {
    margin: 0;
 }
.container-1 {
    background: #86A3B4;
    width: 385px;
    display: flex;
    flex-direction: column;

}

.title {
    padding-left: 40px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}

.color-name {
    color: white;
    margin-top: 58px;
}

.color-surname {
    color: #1C2E8C;
}

.my-photo {
    width: 385px;
    height: 292px;
}

.contact,
.languages {
    margin-left: 40px;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #263036;
    border-bottom: 6px solid #1E1E1E;
    width: 289px;
}

.contact-info,
.languages-info {
    list-style-type: none;
}

.contact-info>ul {
    list-style: none;
    padding-left: 0;
}

.contact-info>li {
    padding-top: 35px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #263036;

}

.contact-info>ul :last-child {
    padding-top: 11px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #263036
}

.languages-info {
    padding-bottom: 530px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1E1E1E;
}

.container-2 {
    padding-left: 420px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.title-main {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #1E1E1E;
    border-bottom: 5px solid #000000;
    padding-bottom: 28px;
    margin-top: 58px;
}

.list-skills {
    display: flex;
    flex-direction: row;
}

.list-skills-1 {
    width: 50%;
}

.style-type {
    list-style-type: disc;
}

